body {
    background-color: whitesmoke;
}

a .card-body{
    background: rgba(255, 255, 255, 1);
    color: #212529;
    text-decoration: none;
}
a:hover .card-body { 
    background: rgba(255, 255, 255, 0.5);
    text-decoration: none; 
}

.btn:focus, 
.btn:active,
.btn:hover, 
.form-control:hover, 
.form-control:focus,
.form-control:active {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    border: 1px solid slategray;
    box-shadow: none;
}


.addRecipeForm {
    margin-top: 50px;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid white;
}

.addRecipeForm::after {
    content: "";
    background: url("/images/cheeseboard.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.spacing {
    padding-top: 15px;
    padding-bottom: 15px;
}


.loginPage {
    position: relative;
    border: 1px solid white;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
}

.loginPage::after {
    content: "";
    background: url("/images/spices.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.card {
    background: transparent;
}  

.favoriteRecipes {
    position: relative;
    border: 1px solid white;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
}

.favoriteRecipes::after {
    content: "";
    background: url("/images/tomatoes.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

  .navbar { padding: 0; }
  .nav-item { padding: 0.25rem 1rem; }
  .alert {
     display: none;
  }


#centered {
    display: flex;
    justify-content: center;
}

.favoritesCard {
    position: relative;
    border: 1px solid white;
    /* background-color: whitesmoke; */
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
}

.favoritesCard::after {
    content: "";
    background: url("/images/coloredpowder.jpeg");
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

#footer {
    background-color: #373a48;
    color:white;
  }
  
  #footer .footer-copyright{
    background-color: #383737;
    padding-top:3px;
    padding-bottom:3px;
    text-align: center;
  }
  
  #footer .footer-copyright p{
    margin:10px;
    color: #ccc;
  }
  
  #footer ul{
    list-style-type: none;
      padding-left: 0;
      line-height: 1.7;
  
  }
  
  #footer h5{
    font-size: 18px;
      color: white;
      font-weight: bold;
      margin-top: 30px;
  }
  
  #footer a{
    color:#d2d1d1;
    text-decoration: none;
  }
  
  #footer a:hover, #footer a:focus{
    text-decoration: none;
    color:white;
  }
  
  #footer .myCols{
    text-align: center;
    background-color: #373a48;
  }
  #footer .myColsrow{
    background-color: #373a48;
    width: 100%;
    margin-top: -20px;
  }
  
  #footer .social-networks{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px;
    background-color: #373a48;
    
  }
  
  #footer .social-networks a{
      font-size: 32px;
      margin-right: 5px;
      margin-left: 5px;
      color: #f9f9f9;
      padding: 10px;
      transition: 0.2s;
  }
  
  #footer .social-networks a:hover{
    text-decoration: none;
  
  }
  
  #footer .facebook:hover{
    color:#0077e2;
  }
  
  #footer .google:hover{
    color:#ef1a1a;
  }
  
  #footer .twitter:hover{
    color: #00aced;
  }
  
  @media screen and (max-width: 767px){
    #footer {
      text-align: center;
    }
  }
 
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #373a48;
  }